<div>
    </div>
<header class="image-bg-fluid-height" src="/images/bg.jpg">
    <img class="img-responsive img-center" src="/images/logo.png" height="200" width="200">
</header>

<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">About Silver Glovez</h1>
                <p class="lead section-lead">Respect all, Fear None</p>
                <p class="section-paragraph">
                    Silver Glovez Baseball Camp developed out of the need for quality instruction for
                    high school baseball players, wanting to improve their skills to move on to
                    the college level of play. Silver Glovez has a staff of successful college and
                    high school coaches who are committed to teaching players the best techniques
                    and knowledge of the game of baseball.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Fixed Height Image Aside -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<aside class="image-bg-fixed-height" src="/images/bg.jpg"></aside>
